
footer {
    background-color: #f05d20;
    color: #fff;
    text-align: center;
    padding: 50px 20px;
    line-height: 27px;
    text-transform: uppercase;
    font-size: 15px;
}

footer a {
    text-decoration: none;
    color: #fff;
}

footer a:hover {
    color: #5fb0f5;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    cursor: pointer;
}

footer img {
    margin-top: 40px;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

footer img:hover {
    -webkit-transform: translate(0, -5px);
    -moz-transform: translate(0, -5px);
    -o-transform: translate(0, -5px);
    transform: translate(0, -5px);
    cursor: pointer;
}
